<head>
</head>
 <body>
<h1>Leaderboard</h1>

<table *ngIf="users.length > 0">
    <thead>
        <th>ID</th>
        <th>Full Name</th>
        <th>Username</th>
        <th>Wallet</th>
    </thead>
    <tbody>
        <tr *ngFor="let i of users">
            <td>{{i.Id}}</td>
            <td>{{i.FirstName +" " + i.LastName}}</td>
            <td>{{i.Username}}</td>
            <td>{{i.Wallet}}</td>
        </tr>
    </tbody>
</table>
<p *ngIf="users.length === 0">
    No items to display... :(
</p>
</body>
